{% extends 'base.html' %}
{% load static %}

{% block title %}
Admin Page
{% endblock %}

{% block links %}


{% endblock %}


{% block content %}

<div class="centered row" style="padding-top:150px;">
	<div style="min-width:400px;" class="four wide center aligned column">
		<div class="ui message">
			<h2 class="ui header">
				Nothing here yet!
			</h2>
			<p>
				Chances are if you managed to get to the admin page, then you also know that Nick is currently working on this and that you should stop harassing him because he's trying his hardest ok being a developer is hard just get off his back like why is there so much pressure to make a simple admin page its just not that simple ok.
			</p>
		</div>
	</div>
</div>

{% endblock %}